NEXT_PUBLIC_CAPAGENT_API_BASE_URL=http://localhost:8787
OPENROUTER_API_KEY=

# Session Secret (Generate using: openssl rand -base64 32)
SESSION_SECRET=


# NeonDB Connection (PostgreSQL)
# Get these from your Neon Console (Dashboard -> Selection Connection String)
DATABASE_URL=


CAPAGENT_ADMIN_API_KEY=
